EXTERNAL_PRIVATE_KEY=0x<64-hex-chars>
SOMNIA_RPC_URL=https://dream-rpc.somnia.network/
HOST=127.0.0.1
PORT=3013
EXTERNAL_PUBLIC_URL=http://127.0.0.1:3013
AGENT_NAME=onchain-lens
AGENT_COST_STT=0.16
REGISTRATION_DEPOSIT_STT=5
