EXTERNAL_PRIVATE_KEY=0x<64-hex-chars>
SOMNIA_RPC_URL=https://dream-rpc.somnia.network/
HOST=127.0.0.1
PORT=3016
EXTERNAL_PUBLIC_URL=http://127.0.0.1:3016
AGENT_NAME=reactivity-lens
AGENT_COST_STT=0.17
REGISTRATION_DEPOSIT_STT=5
