EXTERNAL_PRIVATE_KEY=0x<64-hex-chars>
SOMNIA_RPC_URL=https://dream-rpc.somnia.network/
HOST=127.0.0.1
PORT=3011
EXTERNAL_PUBLIC_URL=http://127.0.0.1:3011
AGENT_NAME=docs-lens
AGENT_COST_STT=0.15
REGISTRATION_DEPOSIT_STT=5
DOCS_BASE_URL=https://docs.somnia.network
