EXTERNAL_PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1
SOMNIA_RPC_URL=https://dream-rpc.somnia.network/
HOST=127.0.0.1
PORT=3010
EXTERNAL_PUBLIC_URL=http://127.0.0.1:3010
AGENT_NAME=discord-bot@twiin
AGENT_COST_STT=0.15
REGISTRATION_DEPOSIT_STT=5
